<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/css.css' %}">
    <title>Tabla de miembros</title>
</head>
<body>
    {% block content %}
    <h1>aqui va una tabla</h1>
    <!-- <input type="text" id="search" onkeyup="fetchResults()"> -->
    <form action="searched" method="GET">
        {% csrf_token%}
        <input name="q" placeholder="buscar miembro" id="buscador">
        <button type="submit">save</button>
    </form>
    <div id="results"></div>
    <table>
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>tier</th>
                <td>Fecha</td>
                <td>monto</td>
            </tr>
        </thead>
        <tbody>
            {% for data in usuario%}
            <tr>
                <td>{{data.nombreCompleto}}</td>
                <td>{{data.Tierlist}}</td>
                <td>{{data.Fecha}}</td>
                <td>{{data.monto}}</td>
                <td>
                    <a href="{% url 'editMember_or_deleteMember' data.id %}">Edit</a>
                </td>
                {% endfor%}
            </tr>
        </tbody>
    </table>
    {% endblock content %}

    <a href="../add-miembro">add customer</a>
<script src="{% static 'Javascript/search.js' %}" async></script>
</body>
</html>

