<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/css.css' %}">
    <title>Tabla de miembros</title>
</head>
<body>
    {% block content %}
    <h1>aqui va una tabla</h1>
    <table>
        <tbody>
            <tr>
                <th>Nombre completo</th>
                <th>tier</th>
                <td>Fecha</td>
                <td>monto</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                {% for data in dataTable%}

                <th>{{data.nombreCompleto}}</th>
                <th>{{data.Tierlist}}</th>
                <th>{{data.Fecha}}</th>
                <th>{{data.monto}}</th>

                {% endfor%}
                
            </tr>
        </tbody>
    </table>
    {% endblock content %}

    <a href="../add-miembro">add customer</a>
    
</body>
</html>

